/* Settings.css */
.form-group{
  background-color: rgb(58, 62, 82);
  height:auto;
  width: 80%;
  margin-left: 10%;
  color: rgb(215, 218, 222);
  min-height: 94px;
  height:auto;
}
#selectLabel{
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  line-height: 22.85714340209961px;
  float: left;
  padding-left:30px;
  padding-top: 35px;
}
#thirdLabel{
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  line-height: 22.85714340209961px;
  float: left;
  padding-left:30px;
  padding-top: 5px;
  padding-bottom: 15px;
}

#firstSelect{
  background-color: transparent; 
  box-shadow: none;
  color: rgb(215, 218, 222);
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  min-width: 250px;
  height: 34px;
  line-height: 28px;
  font-weight: normal;
  float: left;
  margin-top: 30px;
  /* -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: none;
  background-repeat: no-repeat;
  background-position: right center; */
}
.secondSelectDiv option:not(:checked) {
  background-color: rgb(58, 62, 82);;
}
 
#secondSelect{
  background-color: rgb(58, 62, 82);
  color: rgb(215, 218, 222);
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  min-width: 250px;
  margin-top: 30px;
  height: 34px;
  line-height: 28px;
  font-weight: bold;
  padding-top: 10px;
}
#thirdSelect{
  background-color: rgb(58, 62, 82);
  color: rgb(215, 218, 222);
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  min-width: 250px;
  height: 34px;
  line-height: 28px;
  font-weight: bold;
  float: left;
  /* padding-left: 10px; */
}

.secondSelectDiv{
  display: none;
 
}
.thirdSelectDiv{
  display: none;
  float:left;

}

.container {
    margin-top: 100px;
    margin-left: 220px;
    padding: 20px;
    width: calc(100% - 220px);
}

.table-header-cell {
    color: black ;
}

.header {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}

.form-group {
    /* display: flex; */
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;
}

.form-group1 {
    /* display: flex; */
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;
    margin-right: 50px;
}


/* .label {
    font-weight: bold;
    margin-right: 10px;
    padding-left: 200px;
} */

.detailsDiv{
  display:block;
  padding-top: 11%;
  
}

.mytabs{
  margin-left: 10%;
  display:flex;
  flex-wrap:wrap;
  /* max-width:800px;
  margin: 50px auto;
  padding: 25px; */

}
.mytabs input[type="radio"]{
  display: none;
}
.mytabs label{
  
  padding: 25px;
  background:rgb(58, 62, 82);
  font-weight:bold;
  color: rgb(215, 218, 222);
}

.mytabs .tab{
  
  width: 100%;
  padding: 20px;
  background-color: rgb(58, 62, 82);
  order: 1;
  display: none;
}
.mytabs input[type="radio"]:checked + label + .tab{
  display:block;
}
.mytabs input[type="radio"]:checked + label{
  background: rgb(54, 75, 104);
}
.table{
  background-color: transparent;

}



.table-container {
    width: 100%;
    margin-bottom: 20px;
    padding-left: 200px;
    padding-right: 50px;
}
table, th, tr{
  background-color: green;
}


.model-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 50px;
    z-index: 1000;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
    z-index: 1000;
}

.select-selected {
    background-color: rgba(58,62,82,1.000);
  }

  .select-items div:hover, .same-as-selected {
    background-color: rgba(58,62,82,1.000);
  }


  .datetimepicker {
    display: inline-flex;
    align-items: center;
    background-color: rgba(54, 75, 104,1.000);
    color: #f0f0f0;
    width: 283.5px;
  }
  .datetimepicker:focus-within {
    border-color: teal;
  }
  .datetimepicker input {
    font: inherit;
    color: inherit;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    outline: none;
    border: 0;
    background-color: transparent;
  }
  .datetimepicker input[type=date] {
    width: 10rem;
    padding: 0.25rem 0 0.25rem 0.5rem;
    border-right-width: 0;
  }
  .datetimepicker input[type=time] {
    width: 5.5rem;
    padding: 0.25rem 0.5rem 0.25rem 0;
    border-left-width: 0;
  }
  .datetimepicker span {
    height: 1rem;
    margin-right: 0.25rem;
    margin-left: 0.25rem;
    border-right: 1px solid #ddd;
  }
  
  .info {
    padding-top: 0.5rem;
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.5);
  }

  .elevatorData{
    display:none;
    width: 80%;
    float: right;
  }
