/* Settings.css */

body {
  background-color: #2A2C3B !important;
  width: 100%;
  height: 100%;
}

.dateTimePicker {
  text-align: left;
  padding-left: 100px;
  margin: 10px;
}

.labelTo {
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  background-color: #5677a5;
  color: white;
  padding: 6px 10px 6px 10px;
  font-size: 16px;
}

.dateTime1 {
  padding: 5px;
  background-color: #354a68;
  font-size: 15px;
  border-color: #5677a5;
  color: white;
  width: 190px;
}

.dateTime2 {
  padding: 5px;
  background-color: #354a68;
  font-size: 15px;
  border-color: #5677a5;
  color: white;
  width: 190px;
}

.form-group {
  background-color: rgb(58, 62, 82);
  height: auto;
  margin-left: 10%;
  width: 85%;
  color: rgb(215, 218, 222);
  min-height: 94px;
  height: auto;
  font-weight: bold;
}

#selectLabel {
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  line-height: 22.85714340209961px;
  float: left;
  padding-left: 30px;
  padding-top: 35px;
}

#thirdLabel {
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  line-height: 22.85714340209961px;
  float: left;
  padding-left: 30px;
  padding-top: 5px;
  padding-bottom: 15px;
}

#firstSelect {
  background-color: transparent;
  box-shadow: none;
  color: rgb(215, 218, 222);
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  border: 1px solid #4F546F;
  min-width: 250px;
  height: 34px;
  line-height: 28px;
  font-weight: bold;
  float: left;
  margin-top: 30px;
}

.secondSelectDiv option:not(:checked) {
  background-color: rgb(58, 62, 82);
}

#secondSelect {
  background-color: rgb(58, 62, 82);
  color: rgb(215, 218, 222);
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  min-width: 250px;
  margin-top: 30px;
  height: 34px;
  line-height: 28px;
  font-weight: bold;
  border: 1px solid #4F546F;
}

#thirdSelect {
  background-color: rgb(58, 62, 82);
  color: rgb(215, 218, 222);
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  min-width: 250px;
  height: 34px;
  line-height: 28px;
  font-weight: bold;
  float: left;
  border: 1px solid #4F546F;
}

.secondSelectDiv {
  display: none;

}

.thirdSelectDiv {
  display: none;
  float: left;

}

.container {
  margin-top: 100px;
  margin-left: 150px;
  padding: 20px;
  width: calc(100% - 220px);
}

.table-header-cell {
  color: black;
}

.header {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

.form-group {
  /* display: flex; */
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: center;
}

.form-group1 {
  /* display: flex; */
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: center;
  margin-right: 50px;
}

.mytabs {
  display: none;
  padding-top: 11%;
}

#mytabs {
  display: none;
  float: left;
}

.mytabs {
  /* display:flex; */
  flex-wrap: wrap;
  padding-left: 30px;
}

.mytabs input[type="radio"] {
  display: none;
}

.mytabs label {
  border: solid;
  border-color: rgb(54, 75, 104);
  padding: 25px;
  background: rgb(58, 62, 82);
  font-weight: bold;
  color: rgb(215, 218, 222);
}

.mytabs .tab {
  width: 100%;
  background-color: rgb(58, 62, 82);
  order: 1;
  display: none;
}

.mytabs input[type="radio"]:checked+label+.tab {
  display: block;
}

.mytabs input[type="radio"]:checked+label {
  background: rgb(54, 75, 104);
}

#createActivity {
  background-color: #2295e1;
  color: white;
  margin-left: 100px;
  padding: 10px;
  width: 200px;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-size: 16px;
  border: 1px solid transparent;
  border-radius: 2px;
}

.modal-header {
  background-color: #2295e1;
  color: white;
}

.table th {
  background-color: #364B68 !important;
  color: #D7DADE !important;
  height: 60px !important;
  border: none;
  text-align: center !important;
  line-height: 60px !important;
}

.mytabs .tr {
  background-color: #4F546F;
}


.table-container {
  width: 100%;
  margin-bottom: 20px;
  padding-left: 200px;
  padding-right: 50px;
}



.model-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 50px;
  z-index: 1000;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .7);
  z-index: 1000;
}

.select-selected {
  background-color: rgba(58, 62, 82, 1.000);
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(58, 62, 82, 1.000);
}