/* Settings.css */

.container {
    margin-left: 200px;
    padding: 20px;
}

.header {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}

.form-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;
}

.label {
    font-weight: bold;
    margin-right: 10px;
}

.buttons-container {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.button {
    padding: 10px 16px;
    font-size: 16px;
    font-weight: bold;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.table-container {
    width: 100%;
    margin-bottom: 20px;
}

.table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
    text-align: left;
}

.cell {
    border: 1px solid black;
    padding: 8px;
}

.table-header-cell {
    border: 1px solid black;
    padding: 8px;
    background-color: #f0f0f0;
}

.model-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 50px;
    z-index: 1000;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
    z-index: 1000;
}

