

img{
    padding-left: 10px;
    padding-right: 10px;
}

.navbar-container {
    display: flex;
    position: fixed;
    top: 0;
    height: 13.5%;
    width: 100%;
    background-color: #364B68;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

img.notif-icon{
    width: auto;
    height: 37px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(153deg) brightness(102%) contrast(104%);

}
img.notif-icon:hover{
    opacity: 50%;
    cursor: pointer;
}

img.solutrak-logo{
    height: 43px;
    width: auto;
}

