.wrapper{
    width: 100%;
    height: 100%;
    background-color: #333333;
}

.top-bar{
    display: flex;
    position: relative;
    top: 0;
    width: 100%;
    height: 13.5%;
    background-color: #364B68;
    align-items: center;
    padding: 15px;
}

.solutrak-logo{
    width: auto;
    height: 43px;
}

.content{
    display: flex;
    position: relative;
}

.main-table tr, table{
    border: 1px solid white !important;
    border-radius: 0;
    background-color: #333333;
    margin-bottom: 10px;
    width: 100%;
    height: auto;
}
.main-table tr:hover{
    background-color: #333333;
}

.data-tables, .data-tables tr{
    width: 100% !important;
    height: auto;
    background-color: #1E5CB5 !important;
}

.general-op-data{
    /* width: 200px; */
    /* width: 100%; */
    height: 0px;
}