
.tempTable{
    width: 100% !important;
    font-size: medium;
    table-layout: fixed;
}
.tempTable td{
    border: 1px solid black;
    background-color: white;
    width: 100%;
    color: black;
    padding: 2px;
}

.tempTable tr{
    border: 1px solid black;
    background-color: white;
    width: 100%;
    color: black;
    padding: 2px;
}
.tempTable th{
    background-color: #C0C0C0;
    color: black;
    padding: 2px;
}

.runTable th{
    background-color: #C0C0C0;
    color: black;
    padding: 2px;
}
.runTable {
    width: 200px !important;
    font-size: 14px;
    display: inline-table;
    margin-bottom: 10px;
}
.runTable tr td{
    max-width: 200px !important;
    border: 1px solid black;
    background-color: white;
    color: black;
    padding: 2px;
    
}


.doorCycleTable {
    width: 200px !important; 
    font-size: medium;
}

.doorCycleTable tr td{
    width: 200px !important;
    border: 1px solid black;
    background-color: white;
    color: black;
    padding: 2px;
}
.doorCycleTable th{
    background-color: #C0C0C0;
    color: black;
    padding: 2px;
}


.performanceTable{
    width: 200px !important; 
    font-size: medium;

}
.performanceTable tr td{
    width: 200px !important;
    border: 1px solid black;
    background-color: white;
    color: black;
    padding: 2px;
}
.performanceTable th{
    background-color: #C0C0C0;
    color: black;
    padding: 2px;
}

.maitenanceTable{
    width: auto !important;
    font-size: medium;
    table-layout: fixed;
}
.maitenanceTable td{
    border: 1px solid black;
    background-color: white;
    width: auto;
    color: black;
    padding: 2px;
    padding-right: 20px;
}

.maintenanceDescription{
    width: 100% !important;
}

.maitenanceTable tr{
    border: 1px solid black;
    background-color: white;
    width: auto;
    color: black;
    padding: 2px;
}
.maitenanceTable th{
    background-color: #C0C0C0;
    color: black;
    padding: 2px;
}
.faultTable th{
    background-color: #C0C0C0;
    color: black;
    padding: 2px;
}
.faultTable {
    width: 200px !important;
    font-size: medium;
}
.faultTable tr td{
    max-width: auto !important;
    border: 1px solid black;
    background-color: white;
    color: black;
    padding: 2px;
}

.trafficTable th{
    background-color: #C0C0C0;
    color: black;
    padding: 2px;
}
.trafficTable {
    width: 200px !important;
    font-size: medium;
}
.trafficTable tr td{
    max-width: 200px !important;
    border: 1px solid black;
    background-color: white;
    color: black;
    padding: 2px;
}

.densityTable th{
    background-color: #C0C0C0;
    color: black;
    padding: 2px;
}
.densityTable {
    width: 200px !important;
    font-size: medium;
}

.densityTable tr td{
    max-width: 200px !important;
    border: 1px solid black;
    background-color: white;
    color: black;
    padding: 2px;
}

.buildingInfo{
    color: white;
    background-color: #364B68;
    text-align: left;
    padding: 15px;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    height: 300px !important;
}