/* Alerts.css */

body {
  margin: 0;
  background-color: #333;
  color: #fff;
  font-family: Arial, sans-serif;
}



.alerts-container {
  padding: 20px;
  margin-top: 200px;
  margin-left: 116px; /* Adjust this value to leave enough space for the sidebar */
}

.alerts-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  margin-left: 20px; /* Add a left margin to create space between notifications and sidebar */
}

.alert-item {
  background-color: #444;
  padding: 20px;
  border-radius: 8px;
  cursor: pointer; /* Add cursor pointer style to indicate that the notifications are clickable */
  transition: background-color 0.2s ease-in-out; /* Smooth transition for background color change on hover */
}

.alert-item:hover {
  background-color: #555; /* Change background color on hover to indicate interactivity */
}

.user-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}

.description {
  font-size: 14px;
}

.timestamp {
  font-size: 12px;
  color: #aaa;
  margin-top: 8px;
}

@media screen and (max-width: 1024px) {
  .alerts-container {
    margin-left: 20px; /* Adjust the left margin for smaller screens */
  }
  
  .alerts-list {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }

  .alert-item {
    padding: 16px;
  }

  .user-name {
    font-size: 16px;
  }
}
