.table tbody td{
  background-color: #2f3242; /* 设置背景颜色为蓝色 */
  color: white; /* 设置文字颜色以确保可读性 */
}

/* Common styles for all screen sizes */
.buildings-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  overflow-x: auto; /* Add horizontal scrolling for smaller screens */
}

.buildings-table {
  background-color: #2f3242;
  margin-top: 20px;
  overflow-x: auto; /* Add horizontal scrolling for smaller screens */
}

th,
td {
  padding: 10px 16px;
  border: 1px solid #666;
  text-align: left;
  white-space: nowrap; /* Prevent line breaks for table cells */
  overflow: hidden; /* Hide overflowing content */
  text-overflow: ellipsis; /* Show ellipsis (...) for truncated content */
}

th {
  font-weight: bold;
}

tbody {
  background-color: #2f3242;
}

tbody tr:hover {
  background-color: #2f3242;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

/* Media queries for responsiveness */

/* Adjust table font size for smaller screens */
@media (max-width: 768px) {
  table {
    font-size: 14px;
  }
}

/* Further adjustments for even smaller screens if necessary */
@media (max-width: 480px) {
  table {
    font-size: 12px;
  }
}

