@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

body{
  font-family: 'Montserrat', sans-serif;
}

.table-card-record td{
  background-color: #3A3E52 !important;
  color: white !important;
  padding: 10px !important;

}

.table-card-record td{
  background-color: #3A3E52 !important;
  color: white !important;
  padding: 20px !important;

}




.table tr {

}

.table tbody td {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
  justify-content: center;
  align-items: center;
  background-color: #3A3E52;
  border-color: #45495D!important;
}

.table thead td{
  border-color: #45495D!important;
}

/* Common styles for all screen sizes */
.buildings-container {
  margin:auto;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: auto;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  width: 95%;
}

.buildings-table{
  align-items: center;
  padding: 0px !important;
}

.buildings-table-container {
  border: none; /* Or adjust as needed */
  width: 100%; /* Ensure table width is responsive */
  table-layout: auto !important; /* Allows table cells to adjust their width */
  /* Other styling as needed */
}
.rounded-table-wrapper {
  border-radius: 15px; /* Consistent rounded corners */
  overflow: hidden;
  width: 100%; /* Ensure full width */
  box-sizing: border-box; /* To include padding and border in the element's total width and height */
  min-width: 300px; /* Example min-width */
  max-width: 100%; /* Ensures it doesn't overflow the screen width */
  align-content: center;
}

/* Adjustments for smaller screens */
@media (max-width: 768px) {
  .rounded-table-wrapper {
      border-radius: 10px; /* Smaller radius for smaller screens */
      overflow: auto; /* Allows scrolling on smaller screens */
      /* Other adjustments as needed */
  }
}

th,
td {
  
  /* border: 1px solid #666; */
  text-align: left;
  white-space: nowrap;
  justify-content: center;
  /* Prevent line breaks for table cells */
  overflow: hidden;
  /* Hide overflowing content */
  text-overflow: ellipsis;
  /* Show ellipsis (...) for truncated content */
}

th {
  font-weight: bold;
  padding: 0px !important;
}

/* Media queries for responsiveness */

/* for smaller screens */
@media (max-width: 768px) {
  table {
    margin-left: 30%;
  }
}



