.sidebar {
  height: 100%;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: #2f3242;
  overflow-y: hidden;
}

.nav-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding-top: 40px;
}

.nav-link:hover img{
    opacity: 1;
}

.sidebar img {
  padding-left: 0;
  width: auto;
  height: 37px;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(153deg)
    brightness(102%) contrast(104%);
  opacity: 50%;
}

.sidebar img.active {
  opacity: 100%;
}
