.parent-container {
    display: flex;
    height: 100vh;
  }

.map-container {
    position: relative;
    width: 100%;
    top: 0px;
    left: 0;
    bottom: 0px;
    right: 0px;
    z-index: 10;
    /* Rules for radial menu */
    display: flex;
    flex-direction: row; /* align children in a row */
    align-items: stretch; /* stretch children to fill the container */
    height: 100%; /* adjust as needed */
    transition: width 0.5s;
}

.map-clicked {
    width: 50%; /* shrink map */
  }