/* Login.css */
.login-container {
    background-color: #2b2d3c;
    /* Dark background color */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* Vertically and horizontally center the content */
    margin: 0;
}

.login-card {
    background-color: #2b2d3c;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    /* width: 441px; */
    /* Make the card square with a width of 441px */
    /* height: 448px; */
    /* Set the height to match the width */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Center the content vertically */
    align-items: center;
    /* Center the content horizontally */
    text-align: center;
    /* Center the content in the card */
    border: 1px solid rgba(85, 87, 99, 1);
}

/* Logo and title container styles */
.logo-title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: 20px;

    margin-bottom: 20px; */
    /* Adjust spacing between logo/title and form */
}

.logo-big {
    width: 314px;
    /* Adjust the logo size */
    height: 50px;
    /* Adjust the logo size */
    /* margin-bottom: 10px; */
    /* Adjust spacing between logo and title */
}

/* Adjust the form layout */
.login-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Center the form items horizontally */
    justify-content: center;
    /* Center the form vertically */
    width: 100%;
    /* Take the full width of the card */
}

.login-btn {
    width: 314px;
    /* Take the full width of the form group */
    height: 35px;
    /* Adjust the input height */
    font-size: 18px;
    /* Adjust the input font size */
    background-color: rgba(34, 149, 225, 1);
}

.text-center {
    text-align: center;
}

.login-input::placeholder {
    color: rgba(153, 155, 170, 1); /* Change this color to your desired color */
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px rgba(58, 62, 82, 1) inset !important;
    -webkit-text-fill-color: rgba(153, 155, 170, 1) !important;
}

.forgot-link {
    color: rgba(34, 149, 225, 1);
}
